[Package]
version: 1
depends: 

[Product]
type: localboot
id: teska-wakeup
name: teska-wakeup
description: Installiert auf dem Opsi Server ein Wakeup Mechanismus
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: 
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

